@import '../../../../../assets/styles/media-queries';
.projects{
  .titleSecondary{
    margin-bottom: 6rem;
    @include xs{
      margin-bottom: 4rem;
    }
    @include xxs{
      margin-bottom: 4rem;
    }
  }
  .projectsContent{
    display: flex;
    flex-direction: column;
    .projectsList{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 194px 194px 194px 22px 172px 194px 440px;
      justify-items: center;
      grid-template-areas: 
      "e1 e7 e8"
      "e2 e7 e8"
      "e3 e7 e8"
      "e4 e7 e8"
      "e4 e7 e9"
      "e5 e7 e9"
      "e6 e6 e9";
      @include md{
        grid-template-rows: 187.05px 187.05px 187.05px 22px 165.5px 187.05px auto;
      }
      @include sm{
        grid-template-rows: 74.4px 74.4px 74.4px 2px 72px 74.4px auto auto;
        grid-template-areas: 
        "e1 e7 e7"
        "e2 e7 e7"
        "e3 e7 e7"
        "e4 e7 e7"
        "e4 e7 e7"
        "e5 e7 e7"
        "e8 e7 e7"
        "e9 e7 e7"
        "e9 e6 e6";
        column-gap: .2rem;
        row-gap: .1rem;
      }
      @include xs{
        grid-template-rows: 74.4px 74.4px 74.4px 2px 72px 74.4px auto auto;
        grid-template-areas: 
        "e1 e7 e7"
        "e2 e7 e7"
        "e3 e7 e7"
        "e4 e7 e7"
        "e4 e7 e7"
        "e5 e7 e7"
        "e8 e7 e7"
        "e9 e7 e7"
        "e9 e6 e6";
        column-gap: .2rem;
        row-gap: .1rem;
      }
      @include xxs{
        grid-template-rows: 54.16px 54.16px 54.16px 2px 52.16px 54.16px auto auto;
        grid-template-areas: 
        "e1 e7 e7"
        "e2 e7 e7"
        "e3 e7 e7"
        "e4 e7 e7"
        "e4 e7 e7"
        "e5 e7 e7"
        "e8 e7 e7"
        "e9 e7 e7"
        "e9 e6 e6";
        column-gap: .2rem;
        row-gap: .1rem;
      }
      .projectElem{
        &:nth-child(1){
          grid-area: e1;
        } 
        &:nth-child(2){
          grid-area: e2;

        } 
        &:nth-child(3){
          grid-area: e3;
        } 
        &:nth-child(4){
          grid-area: e4;

        }
        &:nth-child(5){
          grid-area: e5;
        }

        &:nth-child(6){
          grid-area: e6;
        }
        &:nth-child(7){
          grid-area: e7;

        }
        &:nth-child(8){
          grid-area: e8;
        }
        &:nth-child(9){
          grid-area: e9;

        }
      }
    }
    .projectsListLogo{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row;
      justify-items: center;
      gap: 1rem;
    }
    .projectsListDesign{
      display: flex;
      flex-direction: column;
      .projectElem{
        margin-bottom: 10rem;
        display: flex;
        .projectElemText{
          flex: 1;
        }
        .projectElemImg{
          flex: 1;
        }
        &:nth-child(2n){
          flex-flow: row-reverse;
          .projectElemText{
            margin-left: 4rem;
          }
        }
        &:nth-child(2n+1){
          flex-flow: row;

        }
      }
    }
  }  
}