.header {
  font-size: 16px;
  font-family: "be_vietnamextrabold";
  .logo {
    max-width: 15rem;
  }
  .navbar {
    padding: 5.2rem 0;
    .navbarMenu {
      margin-top: 3em;
      .navLink {
        letter-spacing: 0.06em;
        text-decoration: none;
        padding: 0;
        padding: 0.6em 0em;
        border-top: 0.1rem solid var(--bs-dark);
      }
    }
  }
}
@media (min-width: 1200px) {
  .header {
    .navbar {
      .navbarMenu {
        margin-top: 0;
        .navLink {
          border-top: none;
          border-radius: 5px;
          padding: 0.75em 1.2em;
        }
      }
    }
  }
}
