.header {
  font-family: "be_vietnamextrabold";
  .logo {
    max-width: 80%;
    display: flex;
    align-items: center;
  }
  .navbar {
    padding: 2.38rem 0;
    .togglerIcon {
      background-image: url(../../assets/images/burger.svg);
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navbarMenu {
      margin-top: 2.65rem;
      .navLink {
        letter-spacing: 0.06em;
        text-decoration: none;
        padding: 0.5em 0rem;
        border-top: 0.1rem solid var(--bs-dark);
      }
    }
  }
}
@media (min-width: 992px) {
  .header {
    .navbar {
      padding: 3.38rem 0;
      .navbarMenu {
        margin-top: 0;
        .navLink {
          border-top: none;
          border-radius: 5px;
          padding: 0.6em 0.4em;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .header {
    .navbar {
      .navbarMenu {
        .navLink {
          padding: 0.75em 1.2em;
        }
      }
    }
  }
}
