.expertises {
  background: var(--bs-gray-200);
  font-family: "be_vietnamsemibold";
  font-size: 1.1rem;
  .expertisesContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 5rem;
    .expertiseElem {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      gap: 2rem;
      justify-items: center;
      padding: 2rem 4rem;
      width: 26rem;
      border-radius: 30px;
      background: var(--bs-white);
      .textExpertise {
        color: var(--bs-secondary);
      }
    }
  }
}
@media (min-width: 576px) {
  .expertises {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .expertises {
    .expertisesContent {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 992px) {
  .expertises {
    .expertisesContent {
      grid-template-columns: repeat(3, 1fr);
      .expertiseElem {
        padding: 2rem 3rem;
      }
    }
  }
}
@media (min-width: 1200px) {
  .expertises {
    .expertisesContent {
      grid-template-columns: repeat(5, 1fr);
      .expertiseElem {
        width: 100%;
        padding: 2rem 3rem;
      }
    }
  }
}
