.expertises {
  background: var(--bs-gray-200);
  font-family: "be_vietnamsemibold";
  .expertisesContent {
    background: var(--bs-gray-200);
    font-family: "be_vietnamsemibold";
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .expertiseElem {
      min-width: 200px;
      min-height: 175px;
      margin: 0.5rem;
      padding: 1rem;
      background: var(--bs-white);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .textExpertise {
        color: var(--bs-secondary);
      }
    }
  }
}
