.bannerText {
  margin: 7.37rem auto 0 auto;
  max-width: 27rem;
}
.bannerImg {
  display: none;
}

@media (min-width: 992px) {
  .bannerText {
    margin: 9.37rem 0 0 0;
  }
  .bannerImg {
    display: block;
    max-width: 650px;
    max-height: 650px;
    background: center center / cover url(../../../../assets/images/banner.png)
      no-repeat;
    background-position: 0 -160px;
  }
}
@media (min-width: 1200px) {
  .bannerImg {
    max-width: 750px;
    max-height: 750px;
    background-position: 0 -195px;
  }
}
