.banner {
  position: relative;
  .card {
    border: 0;
    max-width: 25rem;
    .cardTitle {
      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 0.2rem;
        background: var(--bs-primary);
        margin: 2.33rem 0;
      }
    }
  }
}
@media (min-width: 576px) {
  .banner {
    .card {
      max-width: 30rem;
      .cardTitle {
        &::after {
          margin: 2.67rem 0;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .banner {
    .card {
      max-width: 35rem;
      .cardTitle {
        &::after {
          margin: 3.06rem 0;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .banner {
    .card {
      max-width: 40rem;
      .cardTitle {
        &::after {
          margin: 3.5rem 0;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .banner {
    min-height: 100vh;
    .card {
      max-width: 45rem;
      .cardTitle {
        &::after {
          margin: 4rem 0;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 53%;
      height: 100%;
      background: center center / cover
        url(../../../../assets/images/banner.png) no-repeat;
      background-position: 0 -270px;
    }
  }
}
