@import "../../../../assets/styles/media-queries";

.avis{
  display: flex;
  flex-direction: column;
  .listAvis{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    @include sm{
      grid-template-columns: auto;
      row-gap: 4rem;
    }
    @include xs{
      grid-template-columns: auto;
      row-gap: 4rem;
    }
    @include xxs{
      grid-template-columns: auto;
      row-gap: 4rem;
    }
    .card{
      cursor: pointer;
      .cardText{
        font-size: 1.2rem;
        line-height: 2.4rem;
        margin-bottom: 4rem;
        @include md{
          margin-bottom: 2rem;    
        }
        @include xs{
          margin-bottom: 2rem;
        }
        @include xxs{
          margin-bottom: 2rem;
        }
      }
      .author{
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        .authorImg{
          width: 6rem;
          height: 6rem;
          overflow: hidden;
          border-radius: 100%;
          display: flex;
          align-items: stretch;
          justify-content: stretch;
        }
        .authorContent{
          margin-left: 1rem;
          .authorName{
            margin: 0;
            color: var(--blue-secondary);
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            font-family: 'open_sansregular';
          }    
        }
      }    
      transition: all ease 0.1s;
      &:hover{
        transition: all ease 0.2s;
        transform: scale(1.03); 
      }
    }
  }  
}