$primary: #f9aa00;
$secondary: #046ccd;
$info: #0889cb;
$body-bg: #fff;
$body-color: #0b2750;
$blue-200: #088ccb;
$blue-100: #0785cc;
$gray-500: #dbdada;
$gray-100: #f3f3f4;
$gray-200: #f6f6f6;

/* font size */
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

@import "/node_modules/bootstrap/scss/bootstrap.scss";
