@import "./assets/styles/reset";
@import "./custom.scss";
@import "./assets/styles/base";
@import "./assets/styles/classes";
@import "./assets/styles/utils";

/*  fonts */
@import "./assets/fonts/bevietnam/stylesheet.css";
@import "./assets/fonts/opensans/stylesheet.css";
@import "./assets/fonts/roboto/stylesheet.css";
@import "./assets/fonts/Bahnschrift/stylesheet.css";
@import "./assets/fonts/myriad/stylesheet.css";

/* classes */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "robotoregular";
  font-size: 1.6rem;
  line-height: 1.8rem;
}

#pills-contact-tab.active {
  background: $secondary;
  color: var(--light) !important;
  border-radius: 1rem;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  .page {
    padding-top: 14.2rem;
  }
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.title-section {
  color: var(--bs-gray-500);
  font-size: 4rem;
  line-height: 1em;
  text-align: center;
  font-family: "be_vietnamextrabold";
  margin-bottom: 5rem;
}
/* header */
.header-transparent,
.header-light {
  background: var(--bs-light);
  .nav-link {
    color: var(--bs-dark);
  }
}
.navbar-toggler-icon {
  background-image: url(./assets/images/burger.svg);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .title-section {
    font-size: 7.2rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .header-transparent {
    background: transparent;
    .nav-link {
      color: white;
    }
  }
  .header-light {
    background: var(--bs-light) !important;
    .nav-link {
      background: var(--bs-light);
      color: var(--bs-dark);
    }
    .active {
      background: $primary !important;
      color: $body-bg;
    }
  }
  .active {
    background: $primary;
    color: $body-bg !important;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
