@import "./custom.scss";
@import "./assets/styles/base";
@import "./assets/styles/utils";
@import "./assets/styles/classes";

:root {
  --blue-100: #0785cc;
  --blue-200: #088ccb;
  --blue: #046ccd;
}
body {
  line-height: 1.2;
  font-size: $font-size-sm;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.page {
  margin-top: 7.37rem;
  min-height: calc(100vh - 7.37rem);
}

@media (min-width: 992px) {
  body {
    font-size: $font-size-base;
  }
  .page {
    margin-top: 9.37rem;
  }
}
