@import "./assets/styles/media-queries";
body{
  font-size: 1.6rem;
}
.container{
  max-width: 120rem;
  margin: 0 auto;
}
.vp{
  min-height: 100vh;
  @include md{
    min-height: auto;
  }
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0;
    background: url(./assets/images/bg-1.png) no-repeat;
    background-size: cover;
    background-position: 0rem -22rem;
    z-index: -1;
    overflow: hidden;
    @include md{
      background-position: 0rem -7rem;
    }
  }
  .vp-content{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    .header{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 5rem 0;
      line-height: 4rem;
      @include md{
        line-height: 3rem;
        padding: 3rem 0;
      }
      .logo{
        display: flex;
        align-items: center;
        img{
          max-width: 100%;
          @include md{
            max-width: 80%;
            max-height: 3rem;
          }  
        }

      }
      ul{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        li{
          padding: 0 1rem;
          @include md{
            padding: 0 0.5rem;
          }
          a{
            color: var(--white);
            font-weight: 800;
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            @include md{
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    .banner{
      flex: 1;
      margin: 5rem 0;
      @include md{
        margin: 3rem 0;
      }
      h1{
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        color: var(--text-primary);
        line-height: 3.4rem;
        @include md{
          font-size: 2.4rem;
          line-height: 3rem;
        }
      }  
    }
  }
}
.expertises{
  background-color: var(--gray-light);
  padding: 3rem 0 1rem 0;
  margin: 2rem 0;
  @include md{
    padding: 0 1.5rem;
  }
  .expertises-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto ;
    column-gap: 1.4rem;
    row-gap: 6rem;
    margin: 3rem 0;
    @include md{
      margin: 2rem 0;
      row-gap: 3rem;
    }
    .expertise-elem{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      align-items: center;
      justify-items: center;  
      background: var(--white);
      padding: 1rem;
      border: 0.1rem solid var(--white);
      border-radius: 5rem;
      .text-expertise{
        color: var(--text-secondary);
        padding: 1rem 0;
        @include md{
          font-size: 1rem;
        }
      }  
    }
    .details{
      grid-row: 2 / 3;
      grid-column: 1 / 6;
      justify-self: center;
    }  

  }  
}
.services{
  margin: 3rem 0;
  @include xs{
    padding: 0 1rem;
  }
  @include md{
    padding: 0 1.5rem;
  }
  .services-elem{
    margin: 7rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    gap: 10rem;
    .services-text{
      display: flex;
      flex-direction: column;
    }
    @include xs{
      padding: 0 1rem;
      grid-template-columns: 1fr;
    }
  }
}
.portfolio{
  margin: 3rem 0;
  @include md{
    padding: 0 1.5rem;
  }
  .portfolio-content{
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    .titre-secondary{
      text-align: center;
    }
    .portfolio-menu{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      background: var(--gray-light);
      margin: 1rem 0;
      border: 0.1rem solid var(--gray-light);
      border-radius: 0.5rem;
      li{
        padding: 1rem 2rem;
        cursor: pointer;
        a{
          font-size: 2.4rem;
          @include md{
            font-size: 1.8rem;
          }
        }
        &:first-child{
          background: var(--blue);
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          a{
            color: var(--white);
          }
        }
      }
      @include xs{
        flex-direction: column;
      }
    }
    .portfolio-latest{
      display: grid;
      grid-template-columns: 1fr 30rem;
      grid-auto-rows: auto;
      gap: 3rem;
      .portfolio-latest-elem{
        &:nth-child(1){
          grid-column: 1 / 2;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 4rem;
          .portfolio-latest-elem-img{
            height: 140vh;
            &:nth-child(1){
              background: url(./assets/images/MSARCHITECTURE.jpg) no-repeat;
              background-size: cover;
            }
            &:nth-child(2){
              background: url(./assets/images/fotowork.jpg) no-repeat;
              background-size: cover;
            }  
          }
        }
        &:nth-child(2){
          grid-column: 1 / 2;
          min-height: 50rem;
          //background: red;
          display: flex;
          flex-direction: column;
          .portfolio-latest-elem-img{
            flex: 1;
            background:url(./assets/images/spotyhome.jpg) no-repeat;
            background-size: cover;
          }  
        }
        &:nth-child(3){
          grid-column: 2 / 3;
          grid-row: 1 / span 2;
          //background: green;
          display: flex;
          flex-direction: column;
          .portfolio-latest-elem-img{
            flex: 1;
            &:nth-child(1){
              background: center center / cover url(./assets/images/w.jpg) no-repeat;
            }
            &:nth-child(2){
              background: center center / cover url(./assets/images/fotoworkpage.jpg) no-repeat;
            }
          }
        }
      }
      @include xs{
        display: none;
      }
    }
  }
}
.avis{
  margin: 3rem 0;
  @include xs{
    padding: 0 1rem;
    margin: 0;
  }
  @include md{
    padding: 0 1.5rem;
    margin: 0;    
  }
  .avis-list{
    margin: 6rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include xs{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .avis-elem{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--white);
      max-width: 38rem;
      box-shadow: var(--shadow);
      padding: 2rem;
      @include xs{
        margin: 1rem 0;
      }
      @include md{
        max-width: 24rem;
      }
      .avis-elem-text{
        flex: 0 0 1;
        font-size: 1.2rem;
        position: relative;
        line-height: 2.5rem;
        .quote{
          width: 4rem;
          height: 2rem;
          display: inline-block;
          text-align: center;
          position: relative;
          //background-color: red;
          &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            //background: green;
            left: -2rem;
            top: 1rem;
            content: "\201C";
            color: var(--orange);
            font-size: 8rem;    
          }
        }
      }
      .avis-elem-profil{
        flex: 0 0 5rem;
        display: grid;
        grid-template-columns: 5rem auto;
        grid-auto-rows: 1fr 1fr;
        align-items: center;
        margin: 2rem 0;
        .img-profil{
          grid-row: 1 / 3;
          grid-column: 1 / 2;
          border-radius: 100%;
        }
        p{
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          margin: 0;
        }
        .skill{
          grid-row: 2 / 3;
          display: flex;
        }
      }
    }
  }
}
.newsletter{
  background: url(./assets/images/bg.png) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 40rem;
  .newsletter-content{
    position: relative;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
    .btn-newsletter{
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      background: var(--orange);
      border: 0;
      position: absolute;
      top: -3rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      &::before{
        content: "";
        width: 2rem;
        height: 2rem;
        display: block;
        position: relative;
        background: linear-gradient(to bottom left, var(--white) 50%, var(--orange) 50%);
        transform: rotate(-45deg);  
        margin-top: 2.5rem;    
      }
    }   
    .text-secondary{
      text-align: center;
      color: var(--white);
      font-size: 2.9rem;
      margin-top: 6rem;
      @include xs{
        font-size: 2rem;
      }
    }
    form{
      background: var(--orange);
      border-radius: 5rem;
      margin: 2rem 0;  
      input{
        padding: 2rem 1rem;
        border: 0;
        border-radius: 5rem;
        font-size: 3rem;
        outline: 0;
        min-width: 50rem;
        @include xs{
          min-width: 30rem;
        }  
        &::placeholder{
          padding: 0 2rem;
          font-size: 2.2rem;
          @include md{
            font-size: 1.6rem;
          }
        }  
        @include xs{
          padding: 1rem;
          font-size: 1.6rem;
          &::placeholder{
           padding: 0;
           font-size: 1rem;
         }
        }
      }
      button{
        border: 0;
        padding: 2rem;
        background: var(--orange);
        border-radius: 5rem;
        color: var(--white);
        font-weight: 700;
        font-size: 3rem;
        cursor: pointer;
        @include xs{
          padding: 1rem;
          font-size: 1.6rem;
        }
      }  
    }         
  }
}
footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  line-height: 3rem;
  @include xs{
    padding: 0;
    flex-direction: column;
  }
  ul{
    display: flex;
    flex-flow: row nowrap;
    li{
      padding: 2rem;
      @include xs{
        padding: 0.5rem;
      }
      a{
        font-size: 1.6rem;
        font-weight: 800;
        color: var(--blue);
        @include md{
          font-size: 1.2rem;
        }
        @include xs{
          font-size: 1.2rem;
        }
      }
    }
  }
  p{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--blue); 
    @include xs{
      font-size: 1.4rem;
    }   
  }
}