.navbar-nav .active{
  border: 2rem solid red !important;
}
.navbar{
  border-radius: .5rem;
  margin: 2rem 0rem 5rem 0;
  font-family: 'be_vietnammedium';
  padding: 0;
  background: var(--gray-light);
  font-size: 2.4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}
.nav-link{
  display: none !important;
}