.container {
  max-width: 1200px !important;
  margin: 0 auto;
}
.container-small {
  max-width: 1000px !important;
  margin: 0 auto;
  padding: 0 7.5px;
}
.btn {
  font-family: "be_vietnammedium";
  color: var(--bs-white);
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 1.6em;
  border: 0.1em solid var(--primary);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.4em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  &:hover {
    color: var(--bs-white);
  }
}

.title {
  font-family: "be_vietnamsemibold";
  color: var(--text-primary);
}
.titre-secondary {
  font-family: "bahnschrift";
  color: var(--blue-secondary);
  margin: 0;
}
