@import "./media-queries.scss";
.text{
  font-family: var(--font-family-p);
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--text-primary);
  line-height: 3rem;  
  max-width: 43.5rem;
  @include xs{
    font-size: 1.6rem;
  }  
  @include md{
    font-size: 1.8rem;
    max-width: 35rem;
  }
}
.text-expertise{
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-weight: 600;
}
.text-portfolio{
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 2.4rem;
}
.btn{
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 2rem 0;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 500;  
  &-primary{
    color: var(--white);
    border: 0.1rem solid var(--orange);
    background: var(--orange);
    max-width: 30rem;
    @include md{
      max-width: 20rem;
    }
  }
  @include md{
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
  }
}
.underline{
  width: 25.8rem;
  height: 0.3rem;
  background: var(--orange);
  margin: 3rem 0;
}
.titre{
  color: var(--gray);
  font-size: 7.2rem;
  font-weight: 800;
  text-align: center;
  @include xs{
    font-size: 4rem;
  }  
  @include md{
    font-size: 5.2rem;
  }
}
.titre-newsletter{
  color: var(--white);
  font-weight: 800;
  font-size: 5.8rem;
  text-align: center;
  @include xs{
    font-size: 4rem;
  }
}
.titre-secondary{
  font-size: 3.6rem;
  font-family: var(--font-family-titre);
  margin: 0;
  margin: 2rem 0;
  @include xs{
    font-size: 2.4rem;
  }
  @include md{
    font-size: 3rem;
    margin: 1rem 0;
  }  
}
.active{
  background: var(--orange);
  border-radius: 0.5rem;
  a{
    color: var(--white);
  }
}

.expertise-animation{
  opacity: 0;
/*   .expertise-elem{
    &:nth-child(1){
      animation: expertise-animation 0.2s ease forwards;
    }
    &:nth-child(2){
      animation: expertise-animation 0.2s ease forwards 0.2s;
    }  
    &:nth-child(3){
      animation: expertise-animation 0.2s ease forwards 0.4s;
    }      
    &:nth-child(4){
      animation: expertise-animation 0.2s ease forwards 0.6s;
    }
    &:nth-child(5){
      animation: expertise-animation 0.2s ease forwards 0.8s;
    }     
  }  */  
}