:root{
  --text-primary:#01204d;
  --text-secondary:#046ccd;
  --orange:#f9aa00;
  --gray:#dbdada;
  --gray-light:#f6f6f6;
  --white:#ffffff;
  --blue:#046ccd;
  --text:#000;
  --font-family: 'Be Vietnam', sans-serif;
  --font-family-p: 'Roboto', sans-serif;
  --font-family-titre: 'Signika', sans-serif;
  --shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}