@import '../../../../assets/styles/media-queries';
.footer{
  font-family: 'myriadpro_regular';
  .footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    @include sm{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    @include xs{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .socials{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .socialsElem{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 1rem 1rem 1rem 0;
      }
    }
    p{
      font-size: 1.8rem;
      margin: 0;
      @include sm{
        text-align: center;
        line-height: 2rem;
      }
      @include xs{
        text-align: center;
        margin-right: 0;
        line-height: 2rem;
      }
    }
  }
}