.services {
  .servicesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin: auto;
    .servicesElem {
      margin-bottom: 4.3em;
      &:last-child {
        margin-bottom: 0;
      }
      .servicesText {
        margin-top: 3.12em;
        .linkServices {
          width: 60%;
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .services {
    .servicesList {
      max-width: 40rem;
    }
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .services {
    .servicesList {
      max-width: 100%;
      .servicesElem {
        margin-bottom: 7rem;
        &:last-child {
          margin-bottom: 0;
        }
        display: flex;
        p {
          max-width: 40rem;
        }
        &:nth-child(2n) {
          flex-flow: row-reverse;
          .servicesText {
            margin-right: 5rem;
          }
        }
        &:nth-child(2n + 1) {
          flex-flow: row;
          .servicesText {
            margin-left: 5rem;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .services {
    .servicesList {
      max-width: 100%;
      .servicesElem {
        display: flex;
        p {
          max-width: 100%;
        }
        &:nth-child(2n) {
          .imgService {
            flex: 1;
          }
          .servicesText {
            flex: 1;
            margin-right: 10rem;
          }
        }
        &:nth-child(2n + 1) {
          flex-flow: row;
          .imgService {
            flex: 1;
          }
          .servicesText {
            flex: 1;
            margin-left: 10rem;
          }
        }
      }
    }
  }
}
