.servicesList {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
}
@media (min-width: 992px) {
  .servicesList {
    max-width: 100%;
    .servicesElem {
      display: flex;
      &:nth-child(2n) {
        flex-flow: row-reverse;
        .servicesText {
          padding-right: 10rem;
        }
      }
      &:nth-child(2n + 1) {
        flex-flow: row;
        .servicesText {
          padding-left: 10rem;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .servicesList {
    .servicesElem {
      &:nth-child(2n) {
        .servicesText {
          padding-right: 13rem;
        }
      }
      &:nth-child(2n + 1) {
        .servicesText {
          padding-left: 13rem;
        }
      }
    }
  }
}
